::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #131618;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}
